BOT_TOKEN=СЮДА_СВО_ТОКЕН
ADMIN_USER_ID=СЮДА_АЙДИ_АДМИНА

DB_HOST=localhost
DB_PORT=3306
DB_USER=istu_bot
DB_PASSWORD=СЮДА_СВО_ПАРОЛЬ
DB_NAME=istu_bot

# если прокси нужен раскоментируй и впиши его
#TELEGRAM_PROXY=
