[Unit]
Description=Schedule Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=USER
WorkingDirectory=/home/USER/schedule-bot
ExecStart=/home/USER/schedule-bot/.venv/bin/python /home/USER/schedule-bot/main.py
Restart=always
RestartSec=5

EnvironmentFile=/etc/schedule-bot.env

[Install]
WantedBy=multi-user.target
